/* Root variables for easy design */
:root {
    --corner-bg-color: rgb(68, 85, 235);  /* background color */
    --corner-border-color: rgb(69, 90, 160); /* border color */
}

/* Each corner can have different positions/sizes */
.corner1 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 277px;
    top: 37px;
    width: 524px;
    height: 15px;
}
.corner2 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 787px;
    top: 37px;
    width: 15px;
    height: 467px;
}
.corner2a {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 745px;
    top: 101px;
    width: 57px;
    height: 13px;
}
.corner2b {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 613px;
    top: 290px;
    width: 189px;
    height: 13px;
}
.corner2c {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 614px;
    top: 407px;
    width: 187px;
    height: 15px;
}
.corner2ca {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 614px;
    top: 337px;
    width: 15px;
    height: 85px;
}
.corner2 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 787px;
    top: 37px;
    width: 15px;
    height: 467px;
}
.corner3 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 366px;
    top: 490px;
    width: 436px;
    height: 15px;
}
.corner3a {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 615px;
    top: 464px;
    width: 10px;
    height: 40px;
}
.corner4 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 366px;
    top: 490px;
    width: 15px;
    height: 53px;
}
.corner5 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 263px;
    top: 451px;
    width: 13px;
    height: 92px;
}
.corner6 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 50px;
    top: 451px;
    width:227px;
    height: 13px;
}
.corner6a {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 188px;
    top: 378px;
    width:10px;
    height: 85px;
}
.corner7a {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 50px;
    top: 220px;
    width:96px;
    height: 12px;
}
.corner7 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 50px;
    top: 103px;
    width:17px;
    height: 435px;
}

.corner7b {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 50px;
    top: 276px;
    width:149px;
    height: 13px;
}
.corner8 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 50px;
    top: 103px;
    width:227px;
    height: 10px;
}
.corner9 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 188px;
    top: 219px;
    width:11px;
    height: 128px;
}
.corner9a {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 180px;
    top: 222px;
    width:20px;
    height: 10px;
}
.corner9b {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 116px;
    top: 338px;
    width:83px;
    height: 9px;
}
.corner10 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 186px;
    top: 171px;
    width:11px;
    height: 19px;
}
.corner10 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 186px;
    top: 171px;
    width:11px;
    height: 19px;
}
.corner11 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 186px;
    top: 171px;
    width:56px;
    height: 11px;
}
.corner12 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 231px;
    top: 148px;
    width:11px;
    height: 202px;
}
.corner13 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 231px;
    top: 336px;
    width:46px;
    height: 13px;
}
.corner14 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 265px;
    top: 336px;
    width:12px;
    height: 70px;
}
.corner15 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 231px;
    top: 185px;
    width:326px;
    height: 13px;
}
.corner16 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 543px;
    top: 101px;
    width:14px;
    height: 322px;
}
.corner17 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 543px;
    top: 101px;
    width:138px;
    height: 15px;
}
.corner18 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 614px;
    top: 101px;
    width:15px;
    height: 37px;
}
.corner19 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 543px;
    top: 200px;
    width:83px;
    height: 13px;
}
.corner20 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 543px;
    top: 200px;
    width:83px;
    height: 13px;
}
.corner21 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 612px;
    top: 185px;
    width:14px;
    height: 28px;
}
.corner22 {
    background: var(--corner-bg-color);
    border-style: solid;
    border-color: var(--corner-border-color);
    border-width: 1px;
    opacity: 1;
    position: absolute;
    left: 543px;
    top: 410px;
    width:27px;
    height: 13px;
}


