.exit1
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 262px;
	top : 550px;
	width : 115px;
	height : 8px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.door2
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 190px;
	top : 352px;
	width : 9px;
	height : 20px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.exit2
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 265px;
	top : 37px;
	width : 9px;
	height : 60px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.door4
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 152px;
	top : 222px;
	width : 24px;
	height : 10px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.door5
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 187px;
	top : 195px;
	width : 9px;
	height : 18px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.door6
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 73px;
	top : 340px;
	width : 38px;
	height : 7px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.door8
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 233px;
	top : 118px;
	width : 9px;
	height : 25px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.door9
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 267px;
	top : 412px;
	width : 10px;
	height : 34px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.door10
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 617px;
	top : 142px;
	width : 8px;
	height : 36px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.door11
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 545px;
	top : 428px;
	width : 11px;
	height : 57px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.door12
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 614px;
	top : 308px;
	width : 8px;
	height : 24px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.door13
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 616px;
	top : 427px;
	width : 8px;
	height : 32px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.door14
{
	background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 687px;
	top : 102px;
	width : 54px;
	height : 11px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}