.path1{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 230px;
	top : 70px;
	width : 496px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}

.path2{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 710px;
	top : 70px;
	width : 15px;
	height : 196px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path3{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 627px;
	top : 150px;
	width : 100px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}


.path4{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 590px;
	top : 250px;
	width : 135px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;


}
.path5{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 590px;
	top : 250px;
	width : 15px;
	height : 215px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.path6{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 590px;
	top : 311px;
	width : 70px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}



.path7{
     background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 320px;
	top : 450px;
	width : 285px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;


}

.path8{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 320px;
	top : 420px;
	width : 15px;
	height : 150px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;


}

.path9{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 208px;
	top : 420px;
	width : 128px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;


}

.path10{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left :90px;
	top : 355px;
	width : 135px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path11{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 208px;
	top : 198px;
	width : 15px;
	height : 238px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path12{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 157px;
	top : 198px;
	width : 67px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}

.path13{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 157px;
	top : 123px;
	width : 15px;
	height : 90px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path14{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 157px;
	top : 123px;
	width : 139px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path15{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 280px;
	top : 70px;
	width : 15px;
	height : 68px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
/* --- DOT GRID FOR PATH VISUALIZATION --- */
.path1::before,
.path1::after,
.path2::before,
.path2::after,
.path3::before,
.path3::after,
.path4::before,
.path4::after,
.path5::before,
.path5::after,
.path6::before,
.path6::after,
.path7::before,
.path7::after,
.path8::before,
.path8::after,
.path9::before,
.path9::after,
.path10::before,
.path10::after,
.path11::before,
.path11::after,
.path12::before,
.path12::after,
.path13::before,
.path13::after,
.path14::before,
.path14::after,
.path15::before,
.path15::after {
  content: "";
  position: absolute;
  background-color: red; /* dot color */
  border-radius: 50%;
  width: 6px;
  height: 6px;
  z-index: 5;
}

/* Horizontal paths (dots every 10px along width) */
.path1, .path3, .path4, .path6, .path7, .path9, .path10, .path12, .path14 {
  background-image: radial-gradient(circle 3px at 5px 50%, red 100%, transparent 0);
  background-size: 10px 100%;
  background-repeat: repeat-x;
}

/* Vertical paths (dots every 10px along height) */
.path2, .path5, .path8, .path11, .path13, .path15 {
  background-image: radial-gradient(circle 3px at 50% 5px, red 100%, transparent 0);
  background-size: 100% 10px;
  background-repeat: repeat-y;
}
